/* * * * *
  Global
* * * * */
@font-face {

  font-family: "Japanese";
  src: url("../assets/fonts/uchiyama.woff") format("woff");
  font-weight: 600;
  font-style: normal;

}

/* * * * *
  Banner
* * * * */
header{
  height: 10vh;
  background-color: #333;  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.buttons-container{
  display: flex;
  gap: 5px;
}

/* * * * * *
  Homepage
* * * * * */

.homepage{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage > img{
  width: 100vw;
  height: 60vh;
}

.homepage > div{
  height: 50vh;
  width: 50vw;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "kids text award1"
    "parties text award2";
  justify-items: center;
  padding-top: 10px;
}

.kids{
  grid-area: kids;
}

.parties{
  grid-area: parties;
}

.award1{
  grid-area: award1;
}

.award2{
  grid-area: award2;
}

.homepage > div > div{
  grid-area: text;
  display: flex;
  line-height: 1.5rem;
  gap: 10px;
  flex-direction: column;
  width: 60ch;
}

.homepage h1{
  font-size: 1.5rem;
  font-weight: bolder;
  border-bottom: #333 solid 1px;
  padding-bottom: 10px;
}

.homepage h2{
  font-size: 1.2rem;
  font-weight: bold;
}

.homepage h1,
.homepage h2{
  color: #555;
}

/* * * *
  Menu
* * * */

.menu{
  background: url("../assets/img/tapestry.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  display:grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  column-gap: 5vw;
}

.menu > :nth-child(2n - 1){
  justify-self: end;
}

.menu > :nth-child(2n){
  justify-self: start;
}

.menu-item{
  width: 60%;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.menu-item img{
  height: 180px;
  width: 200px;
}

.menu-text{
  display: grid;
  grid-template-columns: 200px 80px;
  gap: 30px;
  justify-content: space-between;
}

.menu-text h1,
.menu-text h2{
  font-size: 1.5rem;
  font-family: "Japanese";
}

.menu-text h1{
  position: relative;
  width: 100%;
}

.menu-item h2{
  color: rgb(255, 103, 103);
  justify-self: center;
}

.menu-text > h1::after{
  content: "";
  background-color: rgb(255, 103, 103);
  position: absolute;
  left:0;
  bottom: -7px;
  width: 15vw;
  height: 1px;
}

.menu-text p{
  font-size: 1.2rem;
  grid-column: 1/3;
}

/* * * * * 
  Contact
* * * * */

.contact-page{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.contact-address-wrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 80px;
}

.address-text-wrapper > h1{
  font-size: 1.5rem;
  font-weight: bold;
}

.address-text-wrapper > p{
  font-size: 1.2rem;
}

.contact-address-wrapper > img{
  width: 620px;
  height: 540px;
}

.contact-info-wrapper{
  display: flex;
  flex-direction: column;
  gap: 30px;
  line-height: 1.4rem;
}

.contact-info-wrapper h1{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-info-wrapper p {
  font-size: 1.2rem;
}